.compound__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #515076;
}

.compound__list {
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #515076;
    text-align: left;
    padding-left: 0;
    list-style-position: inside;
}